.App-link {
  color: #61dafb;
}

.btn {
  display: block;
  text-decoration: none;
  color: inherit;
}

a.default {
  color: darkblue;
}

a:visited.default {
  color: blueviolet;
}

@media (prefers-color-scheme: dark) {
  a.default {
    color: deepskyblue;
  }

  a:visited.default {
    color: skyblue;
  }
}
