.center-horizontal {
    text-align: center;
    justify-content: center;
}

.center {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.textfield-width {
    width: 200pt;
    max-width: 95%;
    margin: auto;
}

.textfield-width > * {
    width: 100%;
}
